<div class='container-fluid'>
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            <h3>Dashboard</h3>
        </div>
        <div class='panel-body'>
            <h4 class='col-md-4 col-md-offset-1'>Account Information</h4>
            <button class='btn btn-primary pull-right' ng-click='hidden.account=!hidden.account'>x</button>
            <div ng-hide='hidden.account'>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>Username</span>
                        <div class='form-control'>{{user.name}}</div>
                        <span class='nope input-group-addon'><i class='fa fa-ban' title='This field is not editable'></i></span>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>Password</i></span>
                        <div class='form-control text-muted'>(hidden)</div>
                        <span class='btn btn-primary input-group-addon'><i class='fa fa-pencil-square-o'></i> Edit</i></span>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>Email</i></span>
                        <div class='form-control'>{{user.email}}</div>
                        <span class='btn btn-primary input-group-addon'><i class='fa fa-pencil-square-o'></i> Edit</i></span>
                    </div>
                </div>
            </div>
            <div class='col-md-12'>
                <hr/>
            </div>
            <h4 class='col-md-12 col-md-offset-1'>Personal Information</h4>
            <button class='btn btn-primary pull-right' ng-click='hidden.personal=!hidden.personal'>x</button>
            <div ng-hide='hidden.personal'>
                <h5 class='col-md-12 col-md-offset-1'>Name</h5>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>First Name</span>
                        <div class='form-control'>{{user.first}}</div>
                        <span class='btn btn-primary input-group-addon'><i class='fa fa-pencil-square-o'></i> Edit</i></span>
                    </div>
                    <br>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>Last Name</span>
                        <div class='form-control'>{{user.last}}</div>
                        <span class='btn btn-primary input-group-addon'><i class='fa fa-pencil-square-o'></i> Edit</i></span>
                    </div>
                </div>
                <br>
                <h5 class='col-md-4 col-md-offset-1'>Location</h5>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>City</i></span>
                        <div class='form-control'>{{user.city}}</div>
                        <span class='btn btn-primary input-group-addon'><i class='fa fa-pencil-square-o'></i> Edit</i></span>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>State</i></span>
                        <div class='form-control'>{{user.state}}</div>
                        <span class='btn btn-primary input-group-addon'><i class='fa fa-pencil-square-o'></i> Edit</i></span>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>Phone</i></span>
                        <div class='form-control'>{{user.phone||'Unspecified'}}</div>
                        <span class='btn btn-primary input-group-addon'><i class='fa fa-pencil-square-o'></i> Edit</i></span>
                    </div>
                </div>
            </div>
            <div class='col-md-12'>
                <hr/>
            </div>
            <h4 class='col-md-12 col-md-offset-1'>General Information</h4>
            <button class='btn btn-primary pull-right' ng-click='hidden.general=!hidden.general'>x</button>
            <div ng-hide='hidden.general'>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1 big-info'>
                        <span class='input-group-addon'>Summary</span>
                        <div class='form-control'>{{user.summary||'No summary yet!'}}</div>
                        <span class='btn btn-primary input-group-addon'><i class='fa fa-pencil-square-o'></i> Edit</i></span>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>Job Title</i></span>
                        <div class='form-control'>{{user.jobTitle||'Unspecified'}}</div>
                        <span class='btn btn-primary input-group-addon'><i class='fa fa-pencil-square-o'></i> Edit</i></span>
                    </div>
                </div>
            </div>
            <div class='col-md-12'>
                <hr/>
            </div>
            <h4 class='col-md-12 col-md-offset-1'>Work Experience</h4>
            <button class='btn btn-primary pull-right' ng-click='hidden.work=!hidden.work'>x</button>
            <div ng-hide='hidden.work'>
            <div class='col-md-10 col-md-offset-1 alert-danger no-xp' ng-if='!user.work||!user.work.length'>No work experience entered
                <br><br>
                </div>
                <div class='panel exp panel-info panel-body col-md-10 col-md-offset-1' ng-repeat='wk in user.work'>
                    <div class='pull-right' style='margin: 5px'>
                        <button class='btn btn-primary btn-xs' style='margin-bottom: 5px'><i class='fa fa-pencil-square-o'></i> Edit</button>
                        <br>
                        <button class='btn btn-info btn-xs'><i class='fa fa-times'></i> Remove</button>
                    </div>
                    <span class='exp-place'>{{wk.cName}} - 
                        <span class='pos'>{{wk.position}}</span>
                    </span>
                    <span class='pull-right'>{{wk.start.getMonth()+1}}/{{wk.start.getFullYear()}} - {{wk.end.getMonth()+1}}/{{wk.end.getFullYear()}}</span>&nbsp;
                    <div class='col-md-offset-1'>{{wk.other}}</div>
                </div><br>
                <button class='btn btn-primary col-md-4 col-md-offset-2'><i class='fa fa-plus'></i> Add Work Experience</button>
            </div>
            <div class='col-md-12'>
                <hr/>
            </div>
            <h4 class='col-md-12 col-md-offset-1'>Education</h4>
            <button class='btn btn-primary pull-right' ng-click='hidden.edu=!hidden.edu'>x</button>
            <div ng-hide='hidden.edu'>
                <div class='col-md-10 col-md-offset-1 alert-danger no-xp' ng-if='!user.edu||!user.edu.length'>No education entered
                <br><br>
                </div>
                <div class='panel exp panel-info panel-body col-md-10 col-md-offset-1' ng-repeat='ed in user.edu'>
                    <div class='pull-right' style='margin: 5px'>
                        <button class='btn btn-primary btn-xs' style='margin-bottom: 5px'><i class='fa fa-pencil-square-o'></i> Edit</button>
                        <br>
                        <button class='btn btn-info btn-xs'><i class='fa fa-times'></i> Remove</button>
                    </div>
                    <span class='exp-place'>{{ed.sName}} - 
                        <span class='pos'>{{ed.degree}}</span>
                    </span>
                    <span class='pull-right'>{{ed.start.getMonth()+1}}/{{ed.start.getFullYear()}} - {{ed.end.getMonth()+1}}/{{ed.end.getFullYear()}}</span>&nbsp;
                    <div class='col-md-offset-1'>{{ed.other}}</div>
                </div><br>
                <button class='btn btn-primary col-md-4 col-md-offset-2'><i class='fa fa-plus'></i> Add Education</button>
            </div>
            <div class='col-md-12'>
                <hr/>
            </div>
            <h4 class='col-md-12 col-md-offset-1'>Other Experience</h4>
            <button class='btn btn-primary pull-right' ng-click='hidden.exp=!hidden.exp'>x</button>
            <div ng-hide='hidden.exp'>
                <div class='col-md-10 col-md-offset-1 alert-danger no-xp' ng-if='!user.exp||!user.exp.length'>No other experience entered
                <br><br>
                </div>
                <div class='panel exp panel-info panel-body col-md-10 col-md-offset-1' ng-repeat='oe in user.exp'>
                    <div class='pull-right' style='margin: 5px'>
                        <button class='btn btn-primary btn-xs' style='margin-bottom: 5px'><i class='fa fa-pencil-square-o'></i> Edit</button>
                        <br>
                        <button class='btn btn-info btn-xs'><i class='fa fa-times'></i> Remove</button>
                    </div>
                    <span class='exp-place'>{{oe.eName}} - 
                        <span class='pos'>{{oe.pos}}</span>
                    </span>
                    <span class='pull-right'>{{oe.start.getMonth()+1}}/{{oe.start.getFullYear()}} - {{oe.end.getMonth()+1}}/{{oe.end.getFullYear()}}</span>&nbsp;
                    <div class='col-md-offset-1'>{{oe.desc}}</div>
                </div><br>
                <button class='btn btn-primary col-md-4 col-md-offset-2'><i class='fa fa-plus'></i> Add Miscellaneous Experience</button>
            </div>

            <div class='col-md-12'>
                <hr/>
            </div>
            <h4 class='col-md-12 col-md-offset-1'>Skills</h4>
            <button class='btn btn-primary pull-right' ng-click='hidden.skills=!hidden.skills'>x</button>
            <div ng-hide='hidden.skills' class='col-md-8'>
                <div class='col-md-8 col-md-offset-1 text-muted'>(The fun part)</div>
                <table class='col-md-offset-2 table'>
                    <thead>
                        <tr>
                            <th>Skill</th>
                            <th>Years of experience</th>
                            <th>Description</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='sk in user.skills'>
                            <td>{{skillList[sk.id].name}}</td>
                            <td>{{sk.yrs}}</td>
                            <td>{{skillList[sk.id].desc}}</td>
                            <td>
                                <button class='btn btn-xs btn-primary'><i class='fa fa-pencil-square-o'></i> Edit</button><br>
                                <button class='btn btn-xs btn-info'><i class='fa fa-times'></i> Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class='btn btn-primary col-md-4 col-md-offset-2'><i class='fa fa-plus'></i> Add Skill</button>
            </div>
        </div>
    </div>
</div>
