<div class='container-fluid'>
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            <h3>Dashboard</h3>
        </div>
        <div class='panel-body'>
            <h4 class='col-md-4 col-md-offset-1'>Account Information</h4>
            <button class='btn btn-primary pull-right' ng-click='hidden.account=!hidden.account'>x</button>
            <div ng-hide='hidden.account'>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>Username</span>
                        <div class='form-control'>{{user.user}}</div>
                        <span class='nope input-group-addon'><i class='fa fa-ban' title='This field is not editable'></i></span>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>Password</i></span>
                        <div class='form-control text-muted'>(hidden)</div>
                        <span class='btn btn-primary input-group-addon' ng-click='editField("pwd")'><i class='fa fa-pencil-square-o'/i> Edit</i></span>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>Email</i></span>
                        <div class='form-control'>{{user.email}}</div>
                        <span class='btn btn-primary input-group-addon' ng-click='editField("email")'><i class='fa fa-pencil-square-o'></i> Edit</i></span>
                    </div>
                </div>
            </div>
            <div class='col-md-12'>
                <hr/>
            </div>
            <h4 class='col-md-12 col-md-offset-1'>Personal Information</h4>
            <button class='btn btn-primary pull-right' ng-click='hidden.personal=!hidden.personal'>x</button>
            <div ng-hide='hidden.personal'>
                <h5 class='col-md-12 col-md-offset-1'>Name</h5>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>First Name</span>
                        <div class='form-control'>{{user.first}}</div>
                        <span class='btn btn-primary input-group-addon' ng-click='editField("first")'><i class='fa fa-pencil-square-o'></i> Edit</i></span>
                    </div>
                    <br>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>Last Name</span>
                        <div class='form-control'>{{user.last}}</div>
                        <span class='btn btn-primary input-group-addon' ng-click='editField("last")'><i class='fa fa-pencil-square-o'</i> Edit</i></span>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>Github Username (optional)</i></span>
                        <div class='form-control'>{{user.github}}</div>
                        <span class='btn btn-primary input-group-addon' ng-click='editField("github")'><i class='fa fa-pencil-square-o'</i> Edit</i></span>
                    </div>
                </div>
                <br>
                <h5 class='col-md-4 col-md-offset-1'>Location</h5>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>City</i></span>
                        <div class='form-control'>{{user.city}}</div>
                        <span class='btn btn-primary input-group-addon' ng-click='editField("city")'><i class='fa fa-pencil-square-o'</i> Edit</i></span>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>State</i></span>
                        <div class='form-control'>{{user.state}}</div>
                        <span class='btn btn-primary input-group-addon' ng-click='editField("state")'><i class='fa fa-pencil-square-o'></i> Edit</i></span>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>Phone</i></span>
                        <div class='form-control'>{{user.phone||'Unspecified'}}</div>
                        <span class='btn btn-primary input-group-addon' ng-click='editField("phone")'><i class='fa fa-pencil-square-o'></i> Edit</i></span>
                    </div>
                </div>
            </div>
            <div class='col-md-12'>
                <hr/>
            </div>
            <h4 class='col-md-12 col-md-offset-1'>General Information</h4>
            <button class='btn btn-primary pull-right' ng-click='hidden.general=!hidden.general'>x</button>
            <div ng-hide='hidden.general'>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1 big-info'>
                        <span class='input-group-addon'>Summary</span>
                        <div class='form-control'>{{user.summary||'No summary yet!'}}</div>
                        <span class='btn btn-primary input-group-addon' ng-click='editField("summary")'><i class='fa fa-pencil-square-o')'></i> Edit</i></span>
                    </div>
                </div>
                <br>
                <div class='row'>
                    <div class='input-group col-md-8 col-md-offset-1'>
                        <span class='input-group-addon'>Job Title</i></span>
                        <div class='form-control'>{{user.jobTitle||'Unspecified'}}</div>
                        <span class='btn btn-primary input-group-addon' ng-click='editField("jobTitle")'><i class='fa fa-pencil-square-o'></i> Edit</i></span>
                    </div>
                </div>
            </div>
            <div class='col-md-12'>
                <hr/>
            </div>
            <h4 class='col-md-12 col-md-offset-1'>Work Experience</h4>
            <button class='btn btn-primary pull-right' ng-click='hidden.work=!hidden.work'>x</button>
            <div ng-hide='hidden.work'>
                <div class='col-md-10 col-md-offset-1 alert-danger no-xp' ng-if='!user.work||!user.work.length'>No work experience entered
                    <br>
                    <br>
                </div>
                <div class='panel exp panel-info panel-body col-md-10 col-md-offset-1' ng-repeat='wk in user.work'>
                    <div class='pull-right' style='margin: 5px'>
                        <button class='btn btn-primary btn-xs' style='margin-bottom: 5px' ng-click='editField("work",$index)'><i class='fa fa-pencil-square-o'></i> Edit</button>
                        <br>
                        <button class='btn btn-info btn-xs' ng-click='removeItem("work",$index)'><i class='fa fa-times'></i> Remove</button>
                    </div>
                    <span class='exp-place'>{{wk.cName}} - 
                        <span class='pos'>{{wk.position}}</span>
                    </span>
                    <span class='pull-right'>{{moAndYr(wk.start)}} - {{wk.current?'current':moAndYr(wk.end)}}</span>&nbsp;
                    <div class='col-md-offset-1'>{{wk.other}}</div>
                </div>
                <br>
                <button class='btn btn-primary col-md-4 col-md-offset-2' ng-click='addListItem("work")'><i class='fa fa-plus'></i> Add Work Experience</button>
            </div>
            <div class='col-md-12'>
                <hr/>
            </div>
            <h4 class='col-md-12 col-md-offset-1'>Education</h4>
            <button class='btn btn-primary pull-right' ng-click='hidden.edu=!hidden.edu'>x</button>
            <div ng-hide='hidden.edu'>
                <div class='col-md-10 col-md-offset-1 alert-danger no-xp' ng-if='!user.edu||!user.edu.length'>No education entered
                    <br>
                    <br>
                </div>
                <div class='panel exp panel-info panel-body col-md-10 col-md-offset-1' ng-repeat='ed in user.edu'>
                    <div class='pull-right' style='margin: 5px'>
                        <button class='btn btn-primary btn-xs' style='margin-bottom: 5px' ng-click='editField("edu",$index)'><i class='fa fa-pencil-square-o'></i> Edit</button>
                        <br>
                        <button class='btn btn-info btn-xs' ng-click='removeItem("edu",$index)'><i class='fa fa-times'></i> Remove</button>
                    </div>
                    <span class='exp-place'>{{ed.sName}} - 
                        <span class='pos'>{{ed.degree}}</span>
                    </span>
                    <span class='pull-right'>{{moAndYr(ed.start)}} - {{ed.current?'current':moAndYr(ed.end)}}</span>&nbsp;
                    <div class='col-md-offset-1'>{{ed.other}}</div>
                </div>
                <br>
                <button class='btn btn-primary col-md-4 col-md-offset-2' ng-click='addListItem("edu")'><i class='fa fa-plus'></i> Add Education</button>
            </div>
            <div class='col-md-12'>
                <hr/>
            </div>
            <h4 class='col-md-12 col-md-offset-1'>Other Experience</h4>
            <button class='btn btn-primary pull-right' ng-click='hidden.exp=!hidden.exp'>x</button>
            <div ng-hide='hidden.exp'>
                <div class='col-md-10 col-md-offset-1 alert-danger no-xp' ng-if='!user.exp||!user.exp.length'>No other experience entered
                    <br>
                    <br>
                </div>
                <div class='panel exp panel-info panel-body col-md-10 col-md-offset-1' ng-repeat='oe in user.exp'>
                    <div class='pull-right' style='margin: 5px'>
                        <button class='btn btn-primary btn-xs' style='margin-bottom: 5px' ng-click='editField("exp",$index)'><i class='fa fa-pencil-square-o'></i> Edit</button>
                        <br>
                        <button class='btn btn-info btn-xs' ng-click='removeItem("oth",$index)'><i class='fa fa-times'></i> Remove</button>
                    </div>
                    <span class='exp-place'>{{oe.eName}} - 
                        <span class='pos'>{{oe.pos}}</span>
                    </span>
                    <span class='pull-right'>{{moAndYr(oe.start)}} - {{oe.current?'current':moAndYr(oe.end)}}</span>&nbsp;
                    <div class='col-md-offset-1'>{{oe.desc}}</div>
                </div>
                <br>
                <button class='btn btn-primary col-md-4 col-md-offset-2' ng-click='addListItem("exp")'><i class='fa fa-plus'></i> Add Miscellaneous Experience</button>
            </div>
            <div class='col-md-12'>
                <hr/>
            </div>
            <h4 class='col-md-12 col-md-offset-1'>Skills</h4>
            <button class='btn btn-primary pull-right' ng-click='hidden.skills=!hidden.skills'>x</button>
            <div ng-hide='hidden.skills'>
                <div class='col-md-8 col-md-offset-1 text-muted'>(The fun part)
                    <br>
                    <table class='col-md-offset-2 table'>
                        <thead>
                            <tr>
                                <th>Skill</th>
                                <th>Years of experience</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='sk in user.skills'>
                                <td>{{skillList[sk.id].name}}</td>
                                <td>
                                    <input type="number" min=0 ng-model='sk.yrs' ng-change='sk.mod=true'>
                                </td>
                                <td>{{skillList[sk.id].desc}}</td>
                                <td class='row'>
                                    <button class='btn btn-xs btn-primary' ng-click='updateSkill(sk)' ng-disabled='!sk.mod'><i class='fa fa-pencil-square-o'></i> Update</button>
                                    <button class='btn btn-xs btn-info' ng-click='removeSkill(sk)'><i class='fa fa-times'></i> Remove</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class='btn btn-primary col-md-4 col-md-offset-2' ng-click='setupNewSkill();'><i class='fa fa-plus'></i> Add Skill</button>
            </div>
        </div>
    </div>
    <div class='deet-bg' ng-show='editObj.title'>
        <div class='panel panel-primary col-md-8 col-md-offset-2'>
            <div class='panel-heading'>Edit {{editObj.title}}</div>
            <div class='panel-body'>
                <div class='row col-md-offset-1' ng-repeat='it in editObj.items' ng-class="{'big-info':it.t=='ta'}">
                    <div class='input-group col-md-8' ng-if='it.t=="reg"'>
                        <span class='input-group-addon'>{{it.d}}</span>
                        <input type='text' class='form-control' ng-model='it.val'>
                    </div>
                    <div class='input-group col-md-8' ng-if='it.t=="date" && (it.sn=="start"||!editObj.curr)'>
                        <span class='input-group-addon'>{{it.d}}</span>
                        <input type='date' class='form-control' ng-model='it.val'>
                    </div>
                    <div class='input-group col-md-8' ng-if='it.t=="cb"'>
                        <span class='input-group-addon'><input type='checkbox' ng-model='editObj.curr'></span>
                        <div class='form-control'>{{it.d}}</div>
                    </div>
                    <div class='input-group col-md-8' ng-if='it.t=="ta"'>
                        <span class='input-group-addon'>{{it.d}}</span>
                        <textarea class='form-control' ng-model='it.val'></textarea>
                    </div>
                </div>
                <br>
                <button class='btn btn-primary col-md-4 col-md-offset-2' ng-click='saveList()'>Save</button>
                <button class='btn btn-info col-md-4' ng-click='editObj.title="";'>Cancel</button>
            </div>
        </div>
    </div>
    <div class='deet-bg' ng-show='addSkill'>
        <div class='panel panel-primary col-md-8 col-md-offset-2'>
            <div class='panel-heading'>
                Add Skill
            </div>
            <div class='panel-body'>
                <div class='col-md-10 col-md-offset-1 panel panel-primary'>
                    <div class='panel-heading'>New Skill</div>
                    <div class='panel-body'>
                        <div class='text-muted small col-md-offset-1'>
                            Either pick an existing skill to add, or create your own!
                        </div>
                        <div class='col-md-10 col-md-offset-1 panel panel-primary' ng-click='toggleNewSk(0)' ng-class='{"picked":!newSkNew,"unpicked":newSkNew}'>
                            <div class='panel-heading'>Pick a skill</div>
                            <div class='panel-body' ng-show='!newSkNew'>
                                <div class='col-md-12'>
                                    <div class='col-md-3'>Skill:</div>
                                    <select ng-model='$parent.pikSkill' class='col-md-9' ng-options=' sk.name for sk in skills|filter:inclFilt(skills,user.skills)'></select>
                                </div>
                                <div class='col-md-12'>
                                    <div class='col-md-2'>Tags:</div>
                                    <div class='col-md-10 row'>
                                        <div class='btn btn-primary btn-xs' style='margin-right:2px;' ng-repeat='tg in pikSkill.tags'>{{tg.name}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3 col-md-offset-5'>
                            <h5>OR</h5>
                        </div>
                        <!-- <div class='row'> -->
                        <div class='col-md-10 col-md-offset-1 panel panel-primary' ng-click='toggleNewSk(1)' ng-class='{"picked":newSkNew,"unpicked":!newSkNew}'>
                            <div class='panel-heading'>
                                Create a new skill
                            </div>
                            <div class='panel-body' ng-show='newSkNew'>
                                <!-- <ol> -->
                                <div class='row col-md-12'>
                                    <div class='col-md-3'>Skill Name:</div>
                                    <input type="text" class='col-md-9' ng-model='newSkill.name' placeholder='Give your skill a name' ng-change='newSkill.tags=[]'>
                                </div>
                                <br>
                                <br>
                                <div class='row col-md-12'>
                                    <div class='col-md-3'>Description:</div>
                                    <input type="text" class='col-md-9' ng-model='newSkill.desc' placeholder='Add a nice description about this skill'>
                                </div>
                                <br>
                                <br>
                                <div class='row col-md-12'>
                                    <div class='col-md-12 row'>
                                        <div class='col-md-2'>Add Tags:</div>
                                        <select ng-model='newSkillTag' class='col-md-6' ng-options='tg as tg.name for tg in tags|filter:inclFilt(tags,newSkill.tags)'></select>
                                        <button class='col-md-offset-1 btn btn-primary btn-xs' ng-click='addTag(newSkillTag);'><i class='fa fa-plus'></i> Add Tag</button>
                                    </div>
                                    <div class='col-md-12'>
                                        <button class='btn btn-xs btn-primary' ng-repeat='tag in newSkill.tags' ng-click='removeTag($index);'>
                                            {{tag.name}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <hr class='col-md-11'>
                <br>
                <br>
                <div class='col-md-10 col-md-offset-1 panel panel-primary'>
                    <div class='panel-heading'>Number of Years</div>
                    <div class='panel-body'>
                        <div class='text-muted small col-md-offset-1'>
                            How many years have you used this skill?
                        </div>
                        <div class='row col-md-12'>
                            <div class='col-md-2 col-md-offset-1'>Years:</div>
                            <input type="number" class='col-md-9' ng-model='newSkill.yrs' min='0' step='.5' value='0'>
                        </div>
                    </div>
                </div>
                <div class='col-md-10 col-md-offset-1 row'>
                    <button class='col-md-5 btn btn-primary' ng-click='saveNewSkill();'>Save</button>
                    <button class='col-md-5 col-md-offset-2 btn btn-info' ng-click='resetSkill();'>Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>