<div class='panel panel-primary' ng-controller='find-ctrl' style='min-height:80vh;'>
    <div class='panel-heading'>
        <h4>Find Users</h4>
    </div>
    <div class='col-md-12 row tab-row'>
        <div class='col-md-4 btn-primary tab' ng-class="{'active-tab':srchMode==0}" ng-click='srchMode=0'>By Name</div>
        <div class='col-md-4 btn-primary tab' ng-class="{'active-tab':srchMode==1}" ng-click='srchMode=1'>By Skill</div>
        <div class='col-md-4 btn-primary tab' ng-class="{'active-tab':srchMode==2}" ng-click='srchMode=2'>By Tag</div>
    </div>
    <div class='panel-body'>
        <hr>
        <h4 class='col-md-offset-1 col-md-8 alert reg-grp'>Resume Search</h4>
        <div class='col-md-8 col-md-offset-1'>
            <h4>{{topics[srchMode].desc}}</h4>
        </div>
        <br>
        <br>
        <div class='row'>
            <div class='input-group col-md-8 col-md-offset-1'>
                <span class='input-group-addon'><i class='fa fa-{{topics[srchMode].icon}}'></i></span>
                <input type="text" placeholder='Enter a {{topics[srchMode].name}}' ng-model='searchParam' class='form-control' ng-change='searchTimer()'>
            </div>
        </div>
        <br>
        <div class='row'>
            <button class='btn btn-primary col-md-4 col-md-offset-1'><i class='fa fa-search'></i> Search</button>
        </div>
        <div class='col-md-12'>
            <hr>
        </div>
        <table class='table col-md-12'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Skills</th>
                    <th>Location</th>
                    <th>More Info</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='u in users'>
                    <td><a href="mailto:{{u.email}}">{{u.first}} {{u.last}}</a></td>
                    <td>{{u.jobTitle}}</td>
                    <td>
                        <div class='col-md-12' ng-repeat='sk in u.skills'><i class='fa fa-check'></i> {{sk.name}}</div>
                    </td>
                    <td>{{u.city}}, {{u.state}}</td>
                    <td>
                        <button class='btn btn-primary btn-sm'><i class='fa fa-pie-chart' title='Click for more information on this user.'></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
