<!DOCTYPE html>
<html ng-app='ribbon-app'>

<head>
    <base href="/">
    <title>ActiveRez</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <ui-view></ui-view>
    <script src='/socket.io-client/dist/socket.io.min.js'></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
    <!-- <script src="/angular-bootstrap-context-menu/dist/bootstrapContextMenu-min.js"></script> -->
    <script src='/angular-sanitize/angular-sanitize.js'></script>
    <script src="/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/bootbox.js/bootbox.js"></script>
    <script src="/js/all.min.js"></script>
</body>

</html>
